<div class="form-group">
  {{#if property.title}}
    <label for="{{key}}">{{property.title}}</label>
  {{/if}}
  <div class="radio">
    <div>
      {{#radio-button value=false groupValue=value name=key changed="changed"}}
        False
      {{/radio-button}}
    </div>
    <div>
      {{#radio-button value=true groupValue=value name=key changed="changed"}}
        True
      {{/radio-button}}
    </div>
  </div>
</div>