<div class="form-group">
  {{#if property.title}}
    <label for="{{key}}">{{property.title}}</label>
  {{/if}}

  {{one-way-input
    value=value
    update=(action "update")
    autofocus=true
    name=key
    class="form-control"
  }}
</div>
