<div class="radio">
  <div class="radio-button-option">
    {{#radio-button value=false groupValue=value name=key changed="changed" disabled=property.readonly}}
      False
    {{/radio-button}}
  </div>
  <div class="radio-button-option">
    {{#radio-button value=true groupValue=value name=key changed="changed" disabled=property.readonly}}
      True
    {{/radio-button}}
  </div>
</div>